.google-form-section {
    padding-top: 100px;
}

.google-form {
    width: 100%;
    border: none;
}

.container {
    padding: 20px;
}

@media (max-width: 767px) {
    .google-form {
        height: 3000px;
    }
}
