body {
    font-family: "Roboto Thin", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-size: 1rem;
    overflow-x: hidden;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand img {
    height: auto;
}

.navbar-nav .nav-link {
    color: #2d57c8 !important;
    padding: 20px !important;
}

a {
    cursor: pointer;
}


main {
    margin-top: 80px;
}

section {

    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section.about-section {
    min-height: calc(100vh - 165px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2d57c8;
    color: white;
    padding-top: 70px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

section.about-section .about-text {
    flex: 1;
    margin-right: 40px;
    padding-top: 65px;
    padding-bottom: 65px;
    font-size: 1.2rem;
}

section.about-section .about-video {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

section.team-section {
    font-size: 1rem;
    color: #2d57c8;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.team-section h2 {
    padding-bottom: 65px;
}

.team-member .image-wrapper {
    width: 175px;
    height: 175px;
    border: 2px solid #2d57c8;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
}

.team-member p {
    padding-top: 20px;
    text-align: center;
}

section.volunteer-section {
    font-size: 1.2rem;
    color: white;
    background-color: #2d57c8;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.candidates-section {

    font-size: 1.2rem;
    color: #2d57c8;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.faq-section {
    background-color: #2d57c8;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card {
    color: #2d57c8;
}

.btn {
    font-size: 2vw;
}

.footer {
    background-color: white;
    color: #2d57c8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .logo img {
    width: 100px;
    height: auto;
}

.footer p {
    margin: 10px 0 0;
}

.social-media-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.social-media-list li {
    margin-left: 15px;
}

.social-media-list li a img {
    width: 30px;
    height: auto;
}

.btn {
    white-space: normal;
}

.btn {
    height: auto;
    padding: 10px;
}

.volunteer-form {
    background-color: #2d57c8;
}

h2, h3 {
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1020;
}

@media (max-width: 768px) {
    .btn {
        font-size: 12px;
    }
}

@media (min-width: 769px) {
    .btn {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    section {
        font-size: 1.4rem;
    }
}

@media (max-width: 992px) {
    section {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    section {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    section {
        font-size: 0.8rem;
    }
}
