.google-form-section {
    padding-top: 100px;
}

.google-form {
    width: 100%;
    border: none;
}

@media (max-width: 767px) {
    .google-form {
        height: 2300px;
    }
}

@media (max-width: 576px) {
    .google-form {
        height: 2340px !important;
    }
}

@media (max-width: 428px) {
    .google-form {
        height: 2600px !important;
    }
}

@media (max-width: 390px) {
    .google-form {
        height: 2680px !important;
    }
}

@media (max-width: 361px) {
    .google-form {
        height: 2800px !important;
    }
}

@media (min-width: 768px) {
    .google-form {
        height: 2250px;
    }
}
