/* Общие стили для сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    /*padding: 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;  /* Добавьте эту строку */
    width: 100%;      /* Добавьте эту строку */
    top: 0;           /* Добавьте эту строку */
    z-index: 1000;    /* Добавьте эту строку, чтобы убедиться, что заголовок всегда поверх других элементов */
}

.logo img {
    width: 150px;
    height: auto;
}

.navigation a {
    color: #3756ee;
    text-decoration: none;
    margin: 0 10px;
}

.navigation a:hover {
}

main {
    /*padding: 20px;*/
    padding-top: 300px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

/*.landing-section,*/
/*.team-section,*/
/*.volunteer-section {*/
/*    padding: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.landing-text h1,*/
/*.team-section h2,*/
/*.volunteer-section h3 {*/
/*    color: #20232a;*/
/*}*/

/*.landing-text p,*/
/*.volunteer-text p {*/
/*    color: #5e6c84;*/
/*}*/

/*.team-member,*/
/*.team-member img {*/
/*    max-width: 100%;*/
/*    border-radius: 10px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.team-member p {*/
/*    text-align: center;*/
/*    color: #5e6c84;*/
/*}*/

/*.help-button {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    background-color: #61dafb;*/
/*    color: #20232a;*/
/*    text-decoration: none;*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*}*/

/*.help-button:hover {*/
/*    background-color: #21a1f1;*/
/*}*/

/*footer {*/
/*    background-color: #20232a;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    color: white;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    bottom: 0;*/
/*}*/
