body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    /*padding: 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 150px;
    height: auto;
}

.navigation a {
    color: #3756ee;
    text-decoration: none;
    margin: 0 10px;
}

.navigation a:hover {
}

main {
    /*padding: 20px;*/
    padding-top: 300px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
